@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Xanh+Mono:ital@0;1&display=swap');

* {
    box-sizing: content-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    background-image: url(img/background.jpg);
    font-family: "Xanh Mono", sans-serif;
    font-size: 1.1rem;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.score {
    margin: 0 5%;
}

.modal {
    text-align: center;
}

.table {
    width: 95%;
    height: 100%;
    background-color: red;
    margin: 0px auto;
    clip-path: polygon(25% 15%, 75% 15%, 105% 100%, -5% 100%);
}

.ai-card {
    position: absolute;
    top: 28%;
    left: 46%;
    width: 8%;
    height: auto;
    transition: all .25s ease;
    content: url(img/paper.png);
}

.player-cards {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 25px auto;
}

input[type="checkbox"] {
    position: absolute;
    left: 9999em;
}

label {
    height: auto;
    width: 10%;
    transition: all .25s ease;
    cursor: pointer;
    filter: drop-shadow(0px 4px 6px #00000080) blur(0.1px);
}

label[for="card-rock"] {
    content: url(img/rock.png);
}

label[for="card-paper"] {
    content: url(img/paper.png);
}

label[for="card-scissors"] {
    content: url(img/scissors.png);
}

@media (hover: hover) {
    label:hover {
        transform: translateY(-15%);
        filter: drop-shadow(0px 16px 6px #00000080);
    }
}

@media screen and (max-width: 990px) {
    body {
      font-size: 1.2rem;
    }
    .table {
        clip-path: polygon(25% 30%, 75% 30%, 105% 100%, -5% 100%);
    }
    .ai-card {
        top: 42%;
        left: 43%;
        width: 16%;
    }
    .player-cards {
        margin: 50px auto;
    }
    label {
        width: 20%;
    }
  }

#overlay-round {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgb(0 0 0 / 40%);
    z-index: 9999;
    display: none;
    cursor: pointer;
}

#overlay-game {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgb(0 0 0 / 40%);
    z-index: 10000;
    display: none;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: navajowhite;
    padding: 10px 40px;
}

.game {
    cursor: pointer;
}

.game-winner {
    color: green;
    text-decoration: underline;
}

/* CLASSES TO ADD IN JS */
.hideAiCard {
    filter: brightness(0);
}

.selection {
    transform: translateY(-50%) !important;
}

.show {
    display: flex !important;
    align-items: flex-start;
    justify-content: center;
}

.showRematch {
    display: flex !important;
    align-items: center;
    justify-content: center;
}